In [2]:
import pandas
dfs = pandas.read_html('http://rate.bot.com.tw/xrt?Lang=zh-TW')

In [5]:
currency = dfs[0]
currency = currency.ix[:,0:5]
currency.columns = [u'幣別',u'現金匯率-本行買入',u'現金匯率-本行賣出',u'即期匯率-本行買入',u'即期匯率-本行賣出']
currency[u'幣別'] = currency[u'幣別'].str.extract('\((\w+)\)') # \((\w+)\)
currency

C:\Users\Administrator\Anaconda2\lib\site-packages\ipykernel\__main__.py:4: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)

     幣別 現金匯率-本行買入 現金匯率-本行賣出 即期匯率-本行買入 即期匯率-本行賣出
0   USD     31.08    31.622     31.38     31.48
1   HKD     3.901     4.096     4.021     4.081
2   GBP      38.1     40.03     38.97     39.39
3   AUD     23.46     24.12     23.65     23.88
4   CAD     23.31     24.05     23.58      23.8
5   SGD     21.65     22.43     22.07     22.25
6   CHF     30.79     31.85     31.32     31.61
7   JPY    0.2687    0.2797    0.2751    0.2791
8   ZAR         -         -      2.28      2.36
9   SEK      3.17      3.68      3.51      3.61
10  NZD     22.31     22.94     22.55     22.75
11  THB    0.7871    0.9301    0.8756    0.9156
12  PHP    0.5813    0.7143         -         -
13  IDR   0.00198   0.00268         -         -
14  EUR     33.08     34.23     33.58     33.98
15  KRW    0.0252    0.0291         -         -
16  VND   0.00102   0.00152         -         -
17  MYR     5.994     7.594         -         -
18  CNY     4.508      4.67      4.58      4.63

In [6]:
currency['date'] = '123'
currency

     幣別 現金匯率-本行買入 現金匯率-本行賣出 即期匯率-本行買入 即期匯率-本行賣出 date
0   USD     31.08    31.622     31.38     31.48  123
1   HKD     3.901     4.096     4.021     4.081  123
2   GBP      38.1     40.03     38.97     39.39  123
3   AUD     23.46     24.12     23.65     23.88  123
4   CAD     23.31     24.05     23.58      23.8  123
5   SGD     21.65     22.43     22.07     22.25  123
6   CHF     30.79     31.85     31.32     31.61  123
7   JPY    0.2687    0.2797    0.2751    0.2791  123
8   ZAR         -         -      2.28      2.36  123
9   SEK      3.17      3.68      3.51      3.61  123
10  NZD     22.31     22.94     22.55     22.75  123
11  THB    0.7871    0.9301    0.8756    0.9156  123
12  PHP    0.5813    0.7143         -         -  123
13  IDR   0.00198   0.00268         -         -  123
14  EUR     33.08     34.23     33.58     33.98  123
15  KRW    0.0252    0.0291         -         -  123
16  VND   0.00102   0.00152         -         -  123
17  MYR     5.994     7.594         -         -  123
18  CNY     4.508      4.67      4.58      4.63  123

In [23]:
from datetime import datetime
currency['Date'] = datetime.now().strftime('%Y-%m-%d')
currency= currency.drop('date', 1)

In [24]:
currency.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 6 columns):
幣別           19 non-null object
現金匯率-本行買入    19 non-null object
現金匯率-本行賣出    19 non-null object
即期匯率-本行買入    19 non-null object
即期匯率-本行賣出    19 non-null object
Date         19 non-null object
dtypes: object(6)
memory usage: 984.0+ bytes

In [25]:
currency['Date'] = pandas.to_datetime(currency['Date'])

In [26]:
currency.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 6 columns):
幣別           19 non-null object
現金匯率-本行買入    19 non-null object
現金匯率-本行賣出    19 non-null object
即期匯率-本行買入    19 non-null object
即期匯率-本行賣出    19 non-null object
Date         19 non-null datetime64[ns]
dtypes: datetime64[ns](1), object(5)
memory usage: 984.0+ bytes

In [27]:
currency

     幣別 現金匯率-本行買入 現金匯率-本行賣出 即期匯率-本行買入 即期匯率-本行賣出       Date
0   USD     31.08    31.622     31.38     31.48 2017-01-23
1   HKD     3.901     4.096     4.021     4.081 2017-01-23
2   GBP      38.1     40.03     38.97     39.39 2017-01-23
3   AUD     23.46     24.12     23.65     23.88 2017-01-23
4   CAD     23.31     24.05     23.58      23.8 2017-01-23
5   SGD     21.65     22.43     22.07     22.25 2017-01-23
6   CHF     30.79     31.85     31.32     31.61 2017-01-23
7   JPY    0.2687    0.2797    0.2751    0.2791 2017-01-23
8   ZAR         -         -      2.28      2.36 2017-01-23
9   SEK      3.17      3.68      3.51      3.61 2017-01-23
10  NZD     22.31     22.94     22.55     22.75 2017-01-23
11  THB    0.7871    0.9301    0.8756    0.9156 2017-01-23
12  PHP    0.5813    0.7143         -         - 2017-01-23
13  IDR   0.00198   0.00268         -         - 2017-01-23
14  EUR     33.08     34.23     33.58     33.98 2017-01-23
15  KRW    0.0252    0.0291         -         - 2017-01-23
16  VND   0.00102   0.00152         -         - 2017-01-23
17  MYR     5.994     7.594         -         - 2017-01-23
18  CNY     4.508      4.67      4.58      4.63 2017-01-23

In [28]:
import sqlite3
with sqlite3.connect('cuurency.sqlite') as db:
    currency.to_sql('currency', con=db, if_exists='append')

In [31]:
with sqlite3.connect('cuurency.sqlite') as db:
    df = pandas.read_sql_query("select * from currency", con=db)

In [32]:
df

    index   幣別 現金匯率-本行買入 現金匯率-本行賣出 即期匯率-本行買入 即期匯率-本行賣出                 Date
0       0  USD     31.08    31.622     31.38     31.48  2017-01-23 00:00:00
1       1  HKD     3.901     4.096     4.021     4.081  2017-01-23 00:00:00
2       2  GBP      38.1     40.03     38.97     39.39  2017-01-23 00:00:00
3       3  AUD     23.46     24.12     23.65     23.88  2017-01-23 00:00:00
4       4  CAD     23.31     24.05     23.58      23.8  2017-01-23 00:00:00
5       5  SGD     21.65     22.43     22.07     22.25  2017-01-23 00:00:00
6       6  CHF     30.79     31.85     31.32     31.61  2017-01-23 00:00:00
7       7  JPY    0.2687    0.2797    0.2751    0.2791  2017-01-23 00:00:00
8       8  ZAR         -         -      2.28      2.36  2017-01-23 00:00:00
9       9  SEK      3.17      3.68      3.51      3.61  2017-01-23 00:00:00
10     10  NZD     22.31     22.94     22.55     22.75  2017-01-23 00:00:00
11     11  THB    0.7871    0.9301    0.8756    0.9156  2017-01-23 00:00:00
12     12  PHP    0.5813    0.7143         -         -  2017-01-23 00:00:00
13     13  IDR   0.00198   0.00268         -         -  2017-01-23 00:00:00
14     14  EUR     33.08     34.23     33.58     33.98  2017-01-23 00:00:00
15     15  KRW    0.0252    0.0291         -         -  2017-01-23 00:00:00
16     16  VND   0.00102   0.00152         -         -  2017-01-23 00:00:00
17     17  MYR     5.994     7.594         -         -  2017-01-23 00:00:00
18     18  CNY     4.508      4.67      4.58      4.63  2017-01-23 00:00:00